/node_modules
/local.properties
/.idea
**/build
/package-lock.json
/.hvigor
/.clang-format
/.clangd
/.clang-tidy
/oh_modules/
oh-package-lock.json5
/sign/hapsign-online-plugin.jar
/sign/hap-sign-tool.jar